.sobre-principal {
    padding: 30px 0 0 0;
}
.profissional {
    margin-top: 30px;
}
.imagem-profissional {
    margin-left: 0;
    transition: all 200ms linear;
}
.imagem-profissional:hover {
    transform: scale(1.1);
}
.realce-equipe {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--cor-bg-principal);
}