/* introdução */
.bg-espaco {
  padding: 78px 0;
}
.introducao {
  display: block;
  background-image: url("../imagens/intro-img.jpg");
  background-repeat: no-repeat;
  background-position: right;
}
.bg-intro {
  background-color: var(--cor-bg-secundaria);
  border-radius: 0 4px 4px 0;
  max-width: 50%;
}
.texto-intro {
  float: right;
  text-align: center;
  max-width: 300px;
  padding: 25px 95px 35px 10%;
}
.bg-intro::after, .bg-intro::before{
  content: '';
  display: table;
  clear: both;
}
.texto-intro h3 {
  font-family: Roboto, serif;
  color: var(--cor-texto-realce);
  font-size: 1.5em;
  text-transform: uppercase;
}
.texto-intro p {
  margin: 60px 0;
  color: var(--cor-texto-op);
}
.seta {
  padding-left: 10px;
}

/* valores */
.valores {
  text-align: center;
}
.valores p {
  margin: 25px auto 0 auto;
  max-width: 350px;
}

.valores h3 {
  margin: 60px 0 30px 0;
  font-size: 2.25em;
  text-transform: uppercase;
  font-family: Roboto, serif;
}

/* treinos e complementos */
.treinos-e-complementos {
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: var(--cor-bg-secundaria);
  font-family: Roboto, serif;
  text-align: center;
}

.treinos-e-complementos h3 {
  text-transform: uppercase;
  font-size: 2.25em;
  margin-bottom: 30px;
  color: var(--cor-texto-realce);
}
.treinos-e-complementos h4 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.5em;
  text-transform: uppercase;
  color: var(--cor-texto-realce);
}
.treino-item img {
  max-width: 100%;
  transition: all 200ms linear;
}
.treino-item:hover img {
  transform: scale(1.1);
}

/* tablet */
@media (min-width: 740px) and (max-width: 980px) {
  .container {
    max-width: 720px;
  }
  .bg-intro {
    max-width: 70%;
  }
}
/* celular */
@media (max-width: 739px) {
  .container {
    max-width: 300px;
  }
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .bg-intro {
    max-width: 100%;
  }
  .texto-intro {
    padding: 10px 20px 20px 20px;
    display: block;
    margin: 0 auto;
    float: none;
    max-width: none;
  }
  .valores h3 {
    margin: 30px 0 15px 0;
    font-size: 2em;
  }
  .treinos-e-complementos {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
  }
}
